# Visual studio settings
.vscode

# Byte-compiled
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.Python
lib
lib64
parts
sdist
var
wheels
pip-wheel-metadata
share/python-wheels
develop-eggs
eggs
.eggs
*.egg-info
*.egg
MANIFEST
.installed.cfg
docs/_build
build
dist
bin
.buildozer

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Editors
.idea
.vscode
.ipynb_checkpoints
*.swp
*.code-workspace

# Environments
venv
.venv
env
.env
.python-version

#  Temp / Cache
cache
.cache
temp
.temp
.pytest_cache
.coverage
*.rst
test.py